<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/Imagenes/logo.jpeg" [routerLink]='["/menu"]' width="800" height="50" side="500" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/menu"]'>Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"[routerLink]='["/registrar"]'>Registrar Semillero</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]='["/aval"]'>Solicitar Aval</a>
     </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/estudiante"]'>Registrar Estudiantes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]='["/docente"]'>Registrar Docente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/convocatoria"]'>Convocatoria</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]='["/home"]'>Salir</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/prueba"]'>prueba</a>
  </li>
  </ul>
</nav>


<br><br><br><br><br><br><br>

<h2>
  <div class="container">                                  
    <div class="spinner-border"></div>
    Lista De Estudiantes
  </div>
 </h2>

<div class="container">
            
  <table class="table table-dark">
    
    <thead>
      <tr>
        <th>Identificacion</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Sexo</th>
        <th>FechaNacimiento</th>
        <th>Programa</th>
        <th>Semestre</th>
        <th>Proyecto</th>
        <th>Ingreso</th>
      </tr>
    </thead>
    
    <tbody>     
        <tr *ngFor="let estudiantes of estudiante" >            
            <td>{{estudiantes.id}}</td>
            <td>{{estudiantes.nombre}}</td>
            <td>{{estudiantes.apellido}}</td>
            <td>{{(estudiantes.telefono)}}</td>
            <td>{{estudiantes.sexo}}</td>
            <td>{{estudiantes.fechaNacimiento}}</td>
            <td>{{estudiantes.programa}}</td>
            <td>{{(estudiantes.semestre)}}</td>
            <td>{{(estudiantes.proyecto)}}</td>
            <td>{{(estudiantes.ingreso)}}</td>
         
           
            <td><a routerLink="/editarestudiante/{{estudiantes.id}}">ver</a></td>
         </tr>
    </tbody>
  </table>
</div>





</body>
</html>
