
<!-- <img src="assets/Imagenes/logo.jpeg" width="1100" height="300" side="200"> -->
<div align="center">

  <img src="assets/Imagenes/logo.jpeg" width="30%">
</div>




<h6  style="text-align: center">"POR MEDIO DE LA CUAL SE DA APERTURA A LA CONVOCATORIA INTERNA DE AVAL
  INSTITUCIONAL A SEMILLEROS DE INVESTIGACIÓN DE LA UNIVERSIDAD POPULAR
  DEL CESAR, 2019 </h6>
<br>

<div align="center">

    <h6>NombreConvocatoria,Fechainicio,Fechacierre</h6>
</div>


<!-- <input type="text" #id>
<button click="idestudiante(id.value)">Cargar datos </button>
<ul>

<li *ngFor="let estudiante of  descuentoService" >

ID:{{estudiante.id}}<br>
Nombre:{{estudiante.nombre}}<br>

</li>

</ul> -->

  <div align="center" id="po">

    <div class="col-md-3" >
        <div class="alert alert-danger" role="alert" *ngIf="isError">
            Something is wrong!
          </div>
      <select class="form-control input-sm" id="id" name="id"  disabled="true"  style="width:320px" >
          <option *ngFor="let convocatoria of convocatorias" value="{{convocatoria.id}}" >
            
            
              {{convocatoria.nombreconvocatoria}} : {{convocatoria.fechainicio}} : {{convocatoria.fechacierre}}</option>
          

      </select>
      
  </div>
  
  </div>
  <br> <br> <br>
  <div align="center">

    <img src="assets/Imagenes/usuario.jpeg" width="10%" >
  </div>
  
  
   <div align="center">
    <b style="text-align: center"> Ingresar a la plataforma</b>
    <br><br>
    <button type="button" class="btn btn-success "[routerLink]='["/login"]' style="width:220px">Login</button> 
   </div>
    

  <br>
  
  

  <!-- <div style="width: 220px; height:520px; margin: 0 auto;">
    <div class="addthis_toolbox addthis_60x60_style addthis_default_style">  -->
<br> <br> <br>

  <div align="center" class="container">
   
    <!-- <button type="button" class="btn btn-info">Mostrar Requisitos </button>
    <br> <br> <br> <br>
    <button type="button" class="btn btn-info"[routerLink]='["/login"]'>Login</button> -->




    <div id="formulario" align="center">


      <form>

          <table border="0" align="center">


              <tr align="center">
                  <td colspan="2" class="centrado2"> <b>INFORMACIÓN </b></td>

              </tr>

              <tr>
                  <td class="descripcion">Ver requisitos para aval y registro de semillero de investigacion</td>
                  <td class="valor">
                  
                    <a [routerLink]='["/requisito"]'><br><input type=image src="assets/Imagenes/ver.png" width="55" height="45"></a>
                  </td>
              </tr>
             
              <br><br>

            
              
              <div >
                <video src="assets/Imagenes/video.mp4" width="550px" height="300px" controls></video>
              
              </div>
             

            
          </table>

      </form>


  </div>

  <br>
 
  
  
  
  
  
  
 

</div>

<br><br><br><br><br><br> 
<!-- <h1 class="h2" style="text-align: center"></h1> -->

