<html>

    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      </head>

<br>
<h4 style="text-align: center">REQUISITOS PARA EL REGISTRO DE SEMILLEROS DE INVESTIGACION </h4>
<img src="assets/Imagenes/upc.jpg " [routerLink]='["/home"]'width="200" height="200" side="200" class="imagen">
<br>

<body>
    <br>
    <p style="text-align: center" class="titulo">EL RECTOR DE LA UNIVERSIDAD POPULAR DEL CESAR</p><br>

    <p style="text-align: center"> En uso de las facultades legales y estatutarias, en especial las conferidas en el
        Literal I) del
        Artículo 1 del Acuerdo No. 023 del 29 de Julio de 2014, modificatorio del "Estatuto General" de
        la Universidad Popular del Cesar y,</p>

    <p style="text-align: center" class="titulo">CONSIDERANDO:</p>


    <p style="text-align: center">1. Que la Ley 30 de 1992 en su artículo 83, reza: "Las Universidades Estatales u
        Oficiales,
        deberán elaborar Planes periódicos de Desarrollo Institucional, considerando las
        estrategias de Planeación Regional y Nacional".</p><br>
    <p style="text-align: center">
        2. Que a través del Acuerdo No. 002 del 14 de febrero de 2002, emanado del Consejo Académico,
        se institucionalizó el programa de Semilleros de Investigadores en la Universidad Popular del
        Cesar.</p><br>
    <p style="text-align: center">
        3. Que a través del Acuerdo No. 012 del 31 de marzo de 2016, emanado del Consejo Superior
        Universitario se adoptó las políticas de formación investigativa de la Universidad Popular del
        Cesar.</p><br>
    <p style="text-align: center">
        4. Que a través del acuerdo No. 013 del 28 de junio 2017 emanado del Consejo Superior
        Universitario, se aprobó el Plan de Desarrollo institucional para el periodo 2017 — 2926.
        5. Que a través del acuerdo No 014\del 28 de junio de 2017, emanado del Cónsejo
        Superior Universitario se adoptó el estatuto de investigación, creación e interpretación
        ,..((. artística de la Universidad Popular del Cesar.</p><br>

    <p style="text-align: center">
        6. Que mediante Resolución Rectora' de fecha 25 de abril de 2018, se otorgó aval institucional a
        Semilleros de Investigación.</p><br>
    <p style="text-align: center">
        1 7. Que el Comité Central de Investigación viabilizó según acta 003 de 14 de junio de 2019, realizar
        la convocatoria de aval de Semilleros de Investigación de la Universidad Popular del Cesar, 2019.
    </p><br>
    <p style="text-align: center">
        En mérito de lo expuesto el Rector de la universidad Popular del Cesar, 1
    </p><br>

    <p style="text-align: center" class="titulo">RESUELVE:</p>

    <p style="text-align: center" >
    ARTÍCULO PRIMERO. Ordenar la apertura de la CONVOCATORIA DE j AVAL
    INSTITUCIONAL A SEMILLEROS DE INVESTIGACIÓN DE LA UNIVERSIDAD POPULAR
    DEL CESAR, 2019.
</p><br>
<p style="text-align: center" class="titulo">
    ARTÍCULO SEGUNDO. PLIEGOS DE CONDICIONES PARA AVALAR SEMILLEROS DE
    INVESTIGACION NUEVOS Y ANTIGUOS
</p><br>
<p style="text-align: center">
    Los semilleros de investigación nuevos que presenten solicitudes de aval institucional
    deberán cumplir con los siguientes requisitos mínimos exigidos:
</p><br>
<p style="text-align: center">
    a) El tutor debe pertenecer a un Grupo de Investigación, Desarrollo Tecnológico y/o
    Innovación con aval institucional mediante Resolución 1203 del 7 de junio de 2019.
</p><br>
<p style="text-align: center">
    b) El semillero de Investigación debe ser liderado por un docente bajo la figura de tutor,
    con CvLAC actualizado.
</p><br>
<p style="text-align: center">
    c) Los trabajos de investigación que realicen los semilleros deben ir acorde a las I líneas
    de investigación que desarrolla el grupo de investigación al cual se adscribe.
</p><br>
<p style="text-align: center">
    d) Máximo tres (3) estudiantes por proyectos, con CvLAC actualizado.
</p><br>
<p style="text-align: center">
    e) Máximo dos (2) proyectos por semillero de investigación.
</p><br>
<p style="text-align: center">
    f) Tener un nombre del Semillero de investigación.
</p><br>
    
    
<p style="text-align: center" class="palabra">
    g) El tutor del semillero de Investigación debe presentar un plan de trabajo para ejecutar
    x(z en los próximos dos (2) semestres académicos (2019-02 y 2020-01), el cual estaría desarrollando con los estudiantes adscritos al mismo, en todo caso en sintonía con el inciso
    C.
</p><br>

<p style="text-align: center"class="palabra">
PARAGRAFO 1: Solo podrán presentar solicitud de aval a Semilleros de Investigación, los
docentes tutores que pertenezcan a grupos de investigación que se encuentren avalados
institucionalmente según Resolución Rectoral 1203 del 7 de junio de 2019.
</p><br>
<p style="text-align: center">
PARAGRAFO 2: Los tutores de los antiguos semilleros de investigación, para obtener el
aval deben presentar además de los mismos requisitos que los nuevos semilleros, un
informe con evidencias de las actividades desarrolladas en los dos (2) anteriores semestres
académicos (2019-01 y 2018-02).
</p><br>
<p style="text-align: center" class="titulo">
ARTÍCULO TERCERO: DOCUMENTOS QUE SE DEBEN PRESENTAR PARA
PARTICIPAR EN LA PRESENTE CONVOCATORIA.
</p><br>
<p style="text-align: center">
Los Semilleros de Investigación que cumplan con los requisitos mínimos exigidos en el
artículo segundo, de la presente resolución, deben presentar dos (2) cartas en medio físico
en la cual hacen la solicitud de aval a los semilleros de investigación 2019, descargar:
(Anexo 1) y el resto de la documentación en medio digital CD-ROM (Formatos Word y
escaneado en Pdf), esta información debe ser entregado en un sobre de manila abierto y
marcado con el nombre del Tutor y el nombre del semillero, en la oficina de Gestión
Documental Correspondencia y Atención al Ciudadano. Bloque C, ubicado en la
Universidad Popular del Cesar, sede Administrativa, Balneario Hurtado vía a Patillal.
</p><br>
<p style="text-align: center">
3.1 Carta de solicitud de aval a semilleros de investigación, en medio físico (Formato
adjunto).
</p><br>
<p style="text-align: center">
3.2 Diligenciar claramente en el FORMATO PARA LA CREACION DEL SEMILLERO DE
INVESTIGACIÓN, descargar: (Anexo 2, entregar en formato digital CD-ROM,) la
inscripción del semillero de investigación, en el cual propone su plan de trabajo a desarrollar
durante los próximos dos (2) semestres académicos (2019-02 y 2020-01). (Fórmato
adjunto).
</p><br>
<p style="text-align: center" class="titulo">
ARTICULO CUARTO: MECANISMO DE REVISIÓN PARA LA ASIGNACION O
NEGACIÓN DE AVAL.
</p><br>
<p style="text-align: center">
 4.1 Viabilidad y pertinencia por parte del Comité de Investigación de la respectiva Facultad
de donde proviene el Semillero de Investigación.
</p><br>
<p style="text-align: center">
4.2 Evaluación del plan de trabajo o informe para los Semilleros de Investigación nacientes
y antiguos respectivamente, por parte de la División de Gestión de la Investigación.
</p><br>
<p style="text-align: center">
4.3 Evaluación de los aportes que el Semillero de Investigación realiza a la Facultad y a los
indicadores del proceso de Gestión de la Investigación, por parte del Comité Central de
Investigación.
</p><br>


<p style="text-align: center">
ARTICULO QUINTO: PONDERACIONES PARA ASIGNACION DE AVAL
</p><br>



<div class="container">
           
    <table class="table table-hover" >
      <thead>
        <tr>
          <th style="text-align: center">ACTIVIDAD O CONCEPTO</th>
          <th>PUNTAJE</th>
         
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Viabilidad y pertinencia por parte del Comité de Investigación de
            la respectiva Facultad de donde proviene el Semillero de
            Investigación</td>
          <td>Hasta 30 puntos</td>
         
        </tr>
        <tr>
          <td>Evaluación del plan de trabajo o informe para los Semilleros de
            Investigación nacientes y antiguos respectivamente, por parte de
            la División de Gestión de la Investigación.</td>
          <td>Hasta 30 puntos</td>
         
        </tr>
        <tr>
          <td>Evaluación de los aportes que el Semillero de Investigación
            realiza a la Facultad y a los indicadores del proceso de Gestión
            de la Investigación, por parte del Comité Central de Investigación</td>
          <td>Hasta 40 puntos</td>
         
        </tr>
        <tr>
            <td style="text-align: center">Ponderado Total</td>
            <td>Hasta 100 puntos</td>
           
          </tr>
      </tbody>
    </table>
  </div>

  <br>
  <p style="text-align: center">
  PARAGRAFO: El puntaje mínimo que requiere un Semillero de Investigación para obtener
aval, es de 70 puntos.
</p><br>
<p style="text-align: center" class="titulo">
ARTÍCULO QUINTO: RESPONSABILIDAD DE LOS SEMILLEROS DE INVESTIGACIÓN:
</p><br>
<p style="text-align: center">
a) Mantener activa su formación mediante la producción intelectual (publicación de
artículos, revistas, libros, proyectos, ponencias, patentes, emprendimientos, trabajo en red,
servicio a las empresas y a la comunidad, etc.) constante en el tiempo.
</p><br>
<p style="text-align: center">
b) Participar de forma activa en los eventos de tipo académico-investigativo organizados
por la Universidad Popular del Cesar, The Expo "Semilleros & Jóvenes Investigadores", Red
Colombiana de Semilleros de Investigación —RedCOLSI-, Nodo Cesar, encuentros
Latinoamericanos de semilleros, Jóvenes, Investigadores, Colciencias y/o otras opciones
donde se generen productos de apropiación social del conocimiento según los lineamientos
de Colciencias.
</p><br>
<p style="text-align: center">
c) Participar en redes temáticas que fortalezcan las líneas de investigación que se
trabajan en cada semillero de investigación; como también, implementar cooperaciones y

</p><br>


<p style="text-align: center">
relaciones investigativas con otras universidades y/o centros de investigación en Colombia
y en el Exterior.
</p><br>
<p style="text-align: center">
d) Mantener a la División de Gestión de la Investigación, informada de todo cambio
sustancial en la estructura del semillero de investigación, dirección o disolución del mismo.
</p><br>
<p style="text-align: center">
e) Participar activamente en las convocatorias interna para financiación de proyectos de
semilleros investigación de nuestra Universidad, Colciencias y organismos de financiación
de la investigación en Colombia y el exterior.
</p><br>
<p style="text-align: center">
ARTÍCULO SEXTO: VERIFICACIÓN DE LOS PRODUCTOS: Cada uno de los tutores será
responsable de la información registrada en su CvLAC y responderá ante cualquier
reclamación que se haga sobre dicha información. El líder del grupo de investigación, que
avale la producción que figura en el aplicativo GrupLAC, se hace responsable de la
veracidad de dicha información.
</p><br>
<p style="text-align: center">
PARAGRAFO 1: La Vicerrectoría de Investigación y Extensión de la Universidad será la
instancia encargada de la verificación de los productos que cada tutor (a) del semillero
entregue y que se encuentren consignados en los respectivos CvLAC y GrupLAC.
</p><br>
<p style="text-align: center">
ARTÍCULO SEPTIMO. CRONOGRAMA. Para dar cumplimiento a lo establecido en la
Convocatoria Interna de aval a los semilleros de investigación y poder otorgar los
respectivos avales institucionales, la Vicerrectoría de Investigación y Extensión ha
establecidos el siguiente cronograma:

</p><br>

<div class="container">
           
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="text-align: center">ACTIVIDAD</th>
        <th>FECHA</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apertura de la convocatoria interna de aval a los
          semilleros de investigación.</td>
        <td>3 de julio de 2019</td>
       
      </tr>
      <tr>
        <td>Cierre de la convocatoria interna de aval a los
          semilleros de investigación.</td>
        <td>18 de julio de 2019</td>
       
      </tr>
      <tr>
        <td> Remisión a los Comités de Investigación de las
          respectivas Facultades</td>
        <td>Hasta el 25 de julio de 2019</td>
       
      </tr>

      <tr>
        <td> Recepción de las evaluaciones realizadas por los
          Comités de Investigación de las respectivas
          Facultades</td>
        <td>Hasta 12 de agosto de 2019</td>
       
      </tr>
      <tr>
        <td>Evaluación del plan de trabajo o informe para los
          Semilleros de Investigación nacientes y antiguos
          respectivamente, por parte de la División de Gestión
          de la Investigación.</td>
        <td>Hasta el 20 de agosto de 2019</td>
       
      </tr>
      <tr>
        <td> Evaluación de los aportes que el Semillero de
          Investigación realiza a la Facultad y a los indicadores
          del proceso de Gestión de la Investigación, por parte
          del Comité Central de Investigación</td>
        <td>Hasta el 25 de agosto de 2019</td>
       
      </tr>
      <tr>
          <td >Publicación parcial de resultados.</td>
          <td>Hasta el 30 de agosto de 2019</td>
         
        </tr>
        <tr>
          <td>Reposiciones, Reclamaciones y aclaraciones.</td>
          <td>Hasta el 3 de septiembre de 2019</td>
         
        </tr>
        <tr>
          <td> Respuesta de reclamaciones.</td>
          <td>Hasta el 6 de septiembre de 2019</td>
         
        </tr>
        <tr>
          <td> Otorgamiento de Aval a semilleros de investigación.
            (Publicación final)</td>
          <td>Hasta el 10 de septiembre de 2019</td>
         
        </tr>
        <tr>
          <td>Registro del aval en la página institucional -</td>
          <td>Hasta el 16 de septiembre de 2019</td>
         
        </tr>
    </tbody>

    


  </table>
</div>
<br><br>



</body>

<img src="assets/Imagenes/firma.jpeg" width="500" height="300" side="200" class="imagen">
<br><br>


<button type="button"  class="btn btn-info btn-block"[routerLink]='["/home"]' >Volver</button>
<br><br>

</html>
