
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="#">
                  <img src="assets/Imagenes/logo.jpeg" [routerLink]='["/menu"]' width="800" height="50" side="500" alt="logo" style="width:40px;">
                </a>
                
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]='["/menu"]'>Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"[routerLink]='["/registrar"]'>Registrar Semillero</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]='["/aval"]'>Solicitar Aval</a>
                   </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]='["/estudiante"]'>Registrar Estudiantes</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]='["/docente"]'>Registrar Docente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/convocatoria"]'>Convocatoria</a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]='["/home"]'>Salir</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]='["/prueba"]'>prueba</a>
                </li> -->
                </ul>
              </nav>
    

   
   


    <br>
   
    <div align="center">

        <img src="assets/Imagenes/Estudiantes.jpeg" width="30%">
      </div>
      <br>
      <div class="form-group" align="center">
        <label>Identificacion:
            {{estudiante.id}}
        </label>
    </div>
  
   


        
            
                <div >
             
    
    


                    <div class="container" >

                        <div id="stepper1" class="bs-stepper">
                            <div class="bs-stepper-header">
                                <div class="step" data-target="#test-l-1">
                                    <button class="step-trigger">
                                        <span class="bs-stepper-circle">1</span>
                                        <span class="bs-stepper-label">INFORMACIÓN DEL ESTUDIANTE</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#test-l-2">
                                    <button class="step-trigger">
                                        <span class="bs-stepper-circle">2</span>
                                        <span class="bs-stepper-label">INFORMACIÓN DEL ESTUDIANTE</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#test-l-3">
                                    <button class="step-trigger">
                                        <span class="bs-stepper-circle">3</span>
                                        <span class="bs-stepper-label">INFORMACIÓN ACADEMICA</span>
                                    </button>
                                </div>
                              
                            </div>
                            <div class="bs-stepper-content">
                                <form (ngSubmit)="onSubmit()">
                                    <div id="test-l-1" class="content">
                                        <div class="form-group" align="center"  *ngIf="estudiante">
                
                                            <table border="0" align="center">
                                                <tr>
                                                    <td colspan="2" class="centrado2" style="color:rgb(247, 243, 243)">INFORMACIÓN DEL ESTUDIANTE</td>
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td>
                                                        <label for="exampleInputEmail1">Fecha de Ingreso</label>
                                                    </td>
                                                    <td>
                                                        <input type="date" [(ngModel)]="estudiante.ingreso" id="ingreso" [ngModelOptions]="{standalone: true}"name="txtfecha"
                                                            maxlength="10" size="3" />
                                                    </td>
                
                
                                                </tr>
                
                                                <br>
                   
                                                <tr>
                
                                                    <td>
                                                        <label for="exampleInputEmail1">Cedula o Tarjeta de Indentidad</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="estudiante.id" [ngModelOptions]="{standalone: true}"name="txtapellido" />
                                                    </td>
                
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td>
                                                        <label for="exampleInputEmail1">Nombre</label>
                                                    </td>
                
                                                    <td>
                                                        <input type="text" [(ngModel)]="estudiante.nombre" [ngModelOptions]="{standalone: true}" id="nombre"
                                                            name="txtnombre" />
                                                    </td>
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td>
                                                        <label for="exampleInputEmail1">Apellido</label>
                                                    </td>
                
                                                    <td>
                                                        <input type="text" [(ngModel)]="estudiante.apellido" [ngModelOptions]="{standalone: true}" id="apellido"
                                                            name="txtapellido" />
                                                    </td>
                                                </tr>
                
                
                                                <br>
                
                                                <br>
                
                
                
                                            </table>
                                            <button (click)="next()" class="btn btn-success">Suguiente</button>
                
                                        </div>
                
                
                                    </div>
                                    <div id="test-l-2" class="content">
                                        <div class="form-group" align="center"  *ngIf="estudiante">
                
                                            <table border="0" align="center">
                
                                                <tr>
                                                    <td colspan="2" class="centrado2"style="color:rgb(247, 243, 243)">INFORMACIÓN DEL ESTUDIANTE</td>
                                                </tr>
                                                <br>
                
                                                <tr>
                
                                                    <td>
                                                        <label for="exampleInputEmail1">Sexo</label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" [(ngModel)]="estudiante.sexo" [ngModelOptions]="{standalone: true}" id="sexo" name="opSexo"
                                                            value="m" />Maculino
                                                        <input type="radio" [(ngModel)]="estudiante.sexo" [ngModelOptions]="{standalone: true}" id="sexo" name="opSexo"
                                                            value="f" />Femenino
                                                    </td>
                
                                                </tr>
                
                                                <br>
                
                
                                                <tr>
                
                                                    <td>
                                                        <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                                                    </td>
                                                    <td>
                                                        <input type="date" [(ngModel)]="estudiante.fechaNacimiento" [ngModelOptions]="{standalone: true}" id="fechaNacimiento"
                                                            name="txtnacimiento" maxlength="10" size="3" />
                                                    </td>
                
                                                </tr>
                
                                                <br>
                                                <tr>
                
                                                    <td>
                                                        <label for="exampleInputEmail1">Direccion</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="estudiante.direccion" [ngModelOptions]="{standalone: true}" id="direccion"
                                                            name="txtapellido" />
                                                    </td>
                
                                                </tr>
                
                                             
                
                                                <br>
                                                <tr>
                
                                                    <td>
                                                        <label for="exampleInputEmail1">Telefonos</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="estudiante.telefono" [ngModelOptions]="{standalone: true}" id="telefono"
                                                            name="txtapellido" />
                                                    </td>
                
                                                </tr>
                
                                                <br>
                
                                            </table>
                                            <button (click)="next()"
                                                class="btn btn-success">Siguiente</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button (click)="atras()" class="btn btn-success">Atras</button>
                                        </div>
                
                                    </div>
                                    <div id="test-l-3" class="content text-center">
                                        <div class="form-group" align="center"  *ngIf="estudiante">
                                            <table border="0" align="center">
                
                
                                                <tr>
                                                    <td colspan="2" class="centrado2" style="color:rgb(247, 243, 243)">INFORMACIÓN ACADEMICA</td>
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td>
                                                        <label for="exampleInputEmail1">Programa académico actual</label>
                                                    </td>
                
                                                    <td>
                                                        <input type="text" [(ngModel)]="estudiante.programa" [ngModelOptions]="{standalone: true}" id="programa"
                                                            name="txtapellido" />
                                                    </td>
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td>
                                                        <label for="exampleInputEmail1">Semestre</label>
                                                    </td>
                
                                                    <td>
                                                        <input type="text" [(ngModel)]="estudiante.semestre" [ngModelOptions]="{standalone: true}" id="semestre"
                                                            name="txtapellido" />
                                                    </td>
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td>
                                                        <label for="exampleInputEmail1">Nombre del proyecto que desarrolla en el
                                                            semillero</label>
                                                    </td>
                
                                                    <td>
                                                        <input type="text" name="txtapellido" [(ngModel)]="estudiante.proyecto" [ngModelOptions]="{standalone: true}" />
                                                    </td>
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td>
                                                        <label for="exampleInputEmail1">Link del CvLAC</label>
                                                    </td>
                
                                                    <td>
                                                            <input type="text" [(ngModel)]="estudiante.CvLAC" [ngModelOptions]="{standalone: true}" name="txtapellido" />
                                                    </td>
                                                </tr>
                                                <br>
                                                <tr>
                                                        <td colspan="2" align="center">
                                                            <div align="center">
                                                                <button (click)="update()" class="btn btn-dark">Actualizar<br><input type=image src="assets/Imagenes/refrescar.png" width="55" height="45"></button>&nbsp;&nbsp;
                                                                <button (click)="delete()" class="btn btn-dark">Eliminar<br><input type=image src="assets/Imagenes/borrar.png" width="55" height="45"></button>
                                                            </div>
                                                           
                                                           
                                                          
                                                        </td>
                                    
                                                    </tr>
                                            </table>
                                            <br><br><br>
                                            <button (click)="atras()" class="btn btn-success">Atras</button>
                                        </div>
                                    </div>
                
                
                                </form>
                            </div>
                        </div>
                    </div>
                


    
    
                   
    
                  
            
            </div>
           
    
       
   


        <br><br><br><br>
     
  
    
    <br><br><br><br><br><br><br>

  



</body>

</html>



