.centrado{

    font-family: Verdana;
    font-size: 15px;
    text-align: center;
    background-color: #2abb0d;
    height: 40px;
    
    
    }
    .bg-dark {
        background-color: #21a707!important;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.863);
    }
    .active .bs-stepper-circle {
        background-color: #21a707;
    }
   
    .table-dark {
        color: #fff;
        background-color: #449434;
    }
    .spinner-border {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: .25em solid currentColor;
        border-right-color: #21a707;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
    }
    .bs-stepper-circle {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        padding: .5em 0;
        margin: .25rem;
        line-height: 1em;
        color: #fff;
        background-color: #46a4cf;
        border-radius: 1em;
    }
    .centrado2{
    
        font-family: Verdana;
        font-size: 15px;
        text-align: center;
        background-color: #2abb0d;
        height: 40px;
        
        
        }
        .ng-valid{

            border-left: 5px solid #42A948; /* green */
    
        }
        .ng-invalid{
    
            border-left: 5px solid #a94442 !important; /* red */
            border-color:  #a94442 !important; /* red */
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169,68,66,.6) !important;
            
        }
        .centrado3{
    
            font-family: Verdana;
            font-size: 15px;
            text-align: center;
            background-color: #2abb0d;
            height: 40px;
            
            
            }
    
    .menu{
    
        background-color: #9cffab;
    
    }
    .descripcion{
    
        font-family: Verdana;
        font-size: 14px;
    
    
    }
    .valor{
        font-family: Verdana;
        font-size: 14px;
    
    }